.servicios{
    background-image: linear-gradient(rgba(0, 0, 0, 0.623)),
     url(../img/backserv.jpg);
    h2{
        text-align: center;
        font-weight: bold;
    }
    div{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .cortes{
            display: flex;
            flex-direction: column;
            h3{
                font-weight: bold;
                text-decoration: underline;
            }
            p{
                font-size: 18px;
            }
        }
        .turno{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3{
                font-weight: bold;
                text-align: center;
            }
            label{
                text-align: center;
            }
            p{
                font-weight: bold;
                text-align: center;
            }
            input{
                margin: 10px;
                padding: 5px;
                border-radius: 10px;
            }
            button{
                margin: 10px;
                padding: 5px;
                border-radius: 10px;
                font-weight: bold;
                background-color: rgba(255, 232, 232, 0.562);
                &:hover{
                    background-color: rgba(127, 255, 212, 0.384);
                }
            }
        }
    }
}